
//
// VARIABLES
//

@import url(https://fonts.googleapis.com/css?family=Gudea);

// Colors
$orange: #ff9f36;
$yellow: #F0AB00;
$blue: #066F97;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;
$webfont: 'Gudea', sans-serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
